.lista-suspensa-form {
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid #4A4949;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 8px 16px;
}

.opcao {
    color: #FFFFFF;
    border: 1px solid #4A4949;
    background-color: #4A4949;
}