.add-button {
    width: 125px;
    background-color: #877EED;
    color: white;
    font-size: 16px;
    line-height: 150%;
    font-family: 'Montserrat';
    font-weight: 600;
    border-radius: 40px;
    border: none;
    padding: 12px 16px;
    box-shadow: 0px 0px 8px rgba(58, 224, 174, 0.2);
    cursor: pointer;
}

.add-button:hover{
    background-color: #544ACB;
}
