.empty-state{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.empty-state p{
    color: #EAEAEA;
    text-align: center;
    margin-top: 0px;
    font-size: 16px;
    line-height: 150%;
}